<html>
<head>
	
	<title>Task Manager</title>
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
	
	<div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Task Manager</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
            </div>
        </div>
    </div>
	<section ng-controller="fcfsController" class="container body-content">
		<div class="row">
			<div class="col-sm-12">
				<h3>
					<button ng-click="running = !running" class="btn btn-primary">
						<span class="glyphicon glyphicon-play" ng-show="!running"></span>
						<span class="glyphicon glyphicon-pause" ng-show="running"></span>
					</button> 
					{{timeRunning}}s - {{running?"Corriendo":"Detenido"}} 
				</h3>

			</div>
		</div>
		<div class="row">
			<div class="col-md-7"><div hc-columnrange></div></div>
			<div class="col-md-5">
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>T<sub>llegada</sub></th>
							<th>T<sub>servicio</sub></th>								
							<th>T<sub>ejecucion</sub></th>
							<th></th>
						</tr>
						<tr>
							<td>{{process.id}}</td>
							<td><input type="text" class="form-control" ng-model="process.name"></td>
							<td><input type="text" class="form-control" ng-model="process.tCome"></td>
							<td><input type="text"  class="form-control" ng-model="process.tService"></td>

							<td></td>
							<td><button type="button" ng-click="agregar()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></td>
						</tr>
					</thead>
					<tbody >
						<tr ng-repeat="p in processes">
							<td>{{p.id}}</td>
							<td>{{p.name}}</td>
							<td>{{p.tCome}}</td>
							<td>{{p.tService}}</td>								
							<td>{{p.tEjecutado}}</td>
							<td><button ng-click="eliminar($index)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</button></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</section>

	<script src="jquery-2.1.4.min.js"></script>
	<script scr="dist/js/bootstrap.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="highcharts.js"></script>
	<script src="highcharts-more.js"></script>
	<script src="fcfs.js"></script>
</body>

</html>