<html>
<head>
	<title>FCFS</title>
</head>
<body ng-app="app">
	<section ng-controller="fcfsController">
		<h2>{{title}}</h2>
		<table style="width: 100%;">
			<tr>
				<td>
					<table>
						<thead>
							<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Tiempo de llegada</th>
								<th>Tiempo de servicio</th>
								<th>Tiempo de inicio</th>
								<th>Tiempo de fin</th>
								<th></th>
							</tr>
						</thead>
						<tbody ng-repeat="p in processes">
							<tr>
								<td>{{p.id}}</td>
								<td>{{p.name}}</td>
								<td>{{p.tCome}}</td>
								<td>{{p.tService}}</td>
								<td>{{p.tInicio}}</td>
								<td>{{p.tFin}}</td>
								<td></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>{{process.id}}</td>
								<td><input type="text" ng-model="process.name"></td>
								<td><input type="text" ng-model="process.tCome"></td>
								<td><input type="text" ng-model="process.tService"></td>
								<td></td>
								<td></td>
								<td><button type="button" ng-click="agregar()">Agregar</button></td>
							</tr>
						</tfoot>	
					</table>
				</td>
				<td>
					<div hc-columnrange></div>
				</td>
			</tr>
		</table>		
	</section>


	<script src="jquery-2.1.4.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="fcfs.js"></script>

</body>

</html>